<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt20">
      <div class="col-md-6 offset-md-3">

        <mat-card>
        <div class="container" style="text-align: center;">
          <img style="width: 150px;" src="assets/cofee.png" alt="logo">
        </div>

        <h1 class="text-center">Login here</h1>

        <form (ngSubmit)="formSubmit()">
          <!--          username-->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>User Name</mat-label>
            <input [(ngModel)]="loginData.username" name="username" required matInput placeholder="Enter here">
            <mat-hint>Valid Username.</mat-hint>
          </mat-form-field>
          {{loginData.username}} {{ loginData.password}}

<!--          password-->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>User Password</mat-label>
            <input [(ngModel)]="loginData.password" name="password" required type="password" matInput placeholder="Enter here">
          </mat-form-field>

          <div class="container text-center">
            <button mat-raised-button color="primary" type="submit">Login</button>
            <button class="ml10" mat-raised-button color="accent">Reset</button>
          </div>

        </form>
        </mat-card>

      </div>
    </div>
  </div>
</div>
