<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-6 offset-md-3">
        <div class="container" style="text-align: center;">
          <img style="width: 150px;" src="assets/cofee.png" alt="logo">
        </div>
        <h1 class="text-center">Register Here</h1>

<!--        {{user | json}}-->

        <form (ngSubmit)="formSubmit()">
<!--          username-->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>User Name</mat-label>
            <input required [(ngModel)]="user.username" name="username" matInput placeholder="Enter here">
            <mat-hint>Username must be Unique.</mat-hint>
          </mat-form-field>

<!--          password field-->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>User Password</mat-label>
            <input required [(ngModel)]="user.password" name="password" type="password" matInput placeholder="Enter here">
          </mat-form-field>

<!--          first name-->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>First Name</mat-label>
            <input required [(ngModel)]="user.firstName" name="firstname"  matInput placeholder="Enter here">
          </mat-form-field>

<!--          last name-->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input required [(ngModel)]="user.lastName" name="lastname"  matInput placeholder="Enter here">
          </mat-form-field>

<!--          email-->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Your Email Address</mat-label>
            <input required [(ngModel)]="user.email" name="email"  type="email" matInput placeholder="Enter here">
          </mat-form-field>

<!--          phone-->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input required [(ngModel)]="user.phone" name="phone"  type="number" matInput placeholder="Enter here">
          </mat-form-field>

          <div class="container text-center">
            <button type="submit" mat-raised-button color="primary">Register</button>
            <button style="margin-left: 10px;" mat-raised-button color="accent">Clear</button>
          </div>


        </form>
      </div>
    </div>
  </div>
</div>
